*.apk filter=lfs diff=lfs merge=lfs -text
android/app/build/outputs/apk/release/app-release.apk filter=lfs diff=lfs merge=lfs -text
*.aab filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
