<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtnOiay3D6T2wytCq4gGuGoK1qW0m82ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>528606509019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genefied.motherwood</string>
	<key>PROJECT_ID</key>
	<string>motherwood-1885e</string>
	<key>STORAGE_BUCKET</key>
	<string>motherwood-1885e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528606509019:ios:4f49af9808bf9e6caa19fe</string>
</dict>
</plist>